<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/mainpage.css" rel="stylesheet" type="text/css">
    <link href="/css/side.css" rel="stylesheet" type="text/css">
    <title>index</title>
    <script src="/js/jquery-3.7.0.min.js"></script>
</head>

<body>
<header>
    <nav class="icon_side">
        <div>
            <div class="icon_member">
                <a href="#">
                    <img src="/img/memberW.png" alt="member">
                </a>
            </div>
            <div class="icon_basket">
                <a href="#">
<!--                    주석-->
                    <img src="/img/basketW.png" alt="basket">
                </a>
            </div>
        </div>
    </nav>
    <div class="clear"></div>
</header>