{{>layouts/header}}
<section>
{{>layouts/leftside}}
    <!--오른쪽사이드-->
    <article class="right_main_view">
        <!--메인 이미지섹션-->
        <div class="mainImg">
            <video src="/img/mainVedio.mp4" autoplay loop muted></video>
        </div>

        <!--상품 섹션-->
        <div class="product">
            <ul class="product_list">

                <li class="list">
                    <div id="snap">
                        <div class="product_textbox">
                            <p class="img_text">
                                상품명: 상품1
                            </p>
                            <p class="img_text">
                                사이즈: S / M / L
                            </p>
                            <p class="img_text">
                                색상: WHITE / BLACK / NAVY
                            </p>
                            <p class="img_text">
                                가격: 18,000
                            </p>
                            <!-- 수정 -->
                            <div class="product_basket_button">
                                <div class="product_basket">
                                    <!-- 팝업 -->
                                    <a href="#">
                                        <img src="/img/basket.png" alt="basket_img">
                                    </a>
                                </div>
                                <!-- name변경 -->
                                <a href="#">
                                    <div class="product_button">
                                        <!-- 주문/결제창으로 이동 -->
                                        <p class="payment">바로결제</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="product_img">
                        <img src="/img/test_img.png" alt="test1">
                    </div>
                </li>

                <li class="list">
                    <div id="snap">
                        <div class="product_textbox">
                            <p class="img_text">
                                상품명: 상품2
                            </p>
                            <p class="img_text">
                                사이즈: S / M / L
                            </p>
                            <p class="img_text">
                                색상: WHITE / BLACK / NAVY
                            </p>
                            <p class="img_text">
                                가격: 18,000
                            </p>
                            <!-- 수정 -->
                            <div class="product_basket_button">
                                <div class="product_basket">
                                    <!-- 팝업 -->
                                    <a href="#">
                                        <img src="/img/basket.png" alt="basket_img">
                                    </a>
                                </div>
                                <!-- name변경 -->
                                <a href="#">
                                    <div class="product_button">
                                        <!-- 주문/결제창으로 이동 -->
                                        <p class="payment">바로결제</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="product_img">
                        <img src="/img/test_img.png" alt="test1">
                    </div>
                </li>

                <li class="list">
                    <div id="snap">
                        <div class="product_textbox">
                            <p class="img_text">
                                상품명: 상품3
                            </p>
                            <p class="img_text">
                                사이즈: S / M / L
                            </p>
                            <p class="img_text">
                                색상: WHITE / BLACK / NAVY
                            </p>
                            <p class="img_text">
                                가격: 18,000
                            </p>
                            <!-- 수정 -->
                            <div class="product_basket_button">
                                <div class="product_basket">
                                    <!-- 팝업 -->
                                    <a href="#">
                                        <img src="/img/basket.png" alt="basket_img">
                                    </a>
                                </div>
                                <!-- name변경 -->
                                <a href="#">
                                    <div class="product_button">
                                        <!-- 주문/결제창으로 이동 -->
                                        <p class="payment">바로결제</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="product_img">
                        <img src="/img/test_img.png" alt="test1">
                    </div>
                </li>

                <li class="list">
                    <div id="snap">
                        <div class="product_textbox">
                            <p class="img_text">
                                상품명: 상품4
                            </p>
                            <p class="img_text">
                                사이즈: S / M / L
                            </p>
                            <p class="img_text">
                                색상: WHITE / BLACK / NAVY
                            </p>
                            <p class="img_text">
                                가격: 18,000
                            </p>
                            <!-- 수정 -->
                            <div class="product_basket_button">
                                <div class="product_basket">
                                    <!-- 팝업 -->
                                    <a href="#">
                                        <img src="/img/basket.png" alt="basket_img">
                                    </a>
                                </div>
                                <!-- name변경 -->
                                <a href="#">
                                    <div class="product_button">
                                        <!-- 주문/결제창으로 이동 -->
                                        <p class="payment">바로결제</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="product_img">
                        <img src="/img/test_img.png" alt="test1">
                    </div>
                </li>

                <li class="list">
                    <div id="snap">
                        <div class="product_textbox">
                            <p class="img_text">
                                상품명: 상품4
                            </p>
                            <p class="img_text">
                                사이즈: S / M / L
                            </p>
                            <p class="img_text">
                                색상: WHITE / BLACK / NAVY
                            </p>
                            <p class="img_text">
                                가격: 18,000
                            </p>
                            <!-- 수정 -->
                            <div class="product_basket_button">
                                <div class="product_basket">
                                    <!-- 팝업 -->
                                    <a href="#">
                                        <img src="/img/basket.png" alt="basket_img">
                                    </a>
                                </div>
                                <!-- name변경 -->
                                <a href="#">
                                    <div class="product_button">
                                        <!-- 주문/결제창으로 이동 -->
                                        <p class="payment">바로결제</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="product_img">
                        <img src="/img/test_img.png" alt="test1">
                    </div>
                </li>

                <li class="list">
                    <div id="snap">
                        <div class="product_textbox">
                            <p class="img_text">
                                상품명: 상품4
                            </p>
                            <p class="img_text">
                                사이즈: S / M / L
                            </p>
                            <p class="img_text">
                                색상: WHITE / BLACK / NAVY
                            </p>
                            <p class="img_text">
                                가격: 18,000
                            </p>
                            <!-- 수정 -->
                            <div class="product_basket_button">
                                <div class="product_basket">
                                    <!-- 팝업 -->
                                    <a href="#">
                                        <img src="/img/basket.png" alt="basket_img">
                                    </a>
                                </div>
                                <!-- name변경 -->
                                <a href="#">
                                    <div class="product_button">
                                        <!-- 주문/결제창으로 이동 -->
                                        <p class="payment">바로결제</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="product_img">
                        <img src="/img/test_img.png" alt="test1">
                    </div>
                </li>

            </ul>
        </div>
{{>layouts/footer}}