{{>layouts/header}}
<section>
{{>layouts/leftside}}
    <article class="right_main_view">
<!--        &lt;!&ndash;메인 이미지섹션&ndash;&gt;test-->
        <div class="mainImg">
            <video src="/img/mainVedio.mp4" autoplay loop muted></video>
        </div>


        <!--상품 섹션-->
        <div class="product">
            <ul class="product_list">
                <li class="list">
                    <div class="container">
                        <div id="snap">
                            <div class="img_text">
                                <p>상품명: 1번 상품</p>
                            </div>
                            <div class="img_text">
                                <p>사이즈: S / M / L</p>
                            </div>
                            <div class="img_text">
                                <p>색상: WHITE / BLACK / NAVY</p>
                            </div>
                            <div class="img_text">
                                <p>가격: 23,000원</p>
                            </div>

                            <div class="product_basket_button">
                                <a href="" class="product_basket">
                                    <img src="/img/basket.png" alt="">
                                </a>
                                <a href="#">
                                    <div class="product_button">
                                        <p class="payment">바로구매</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="product_img">
                            <img src="/img/test_img.png" alt="test1">
                        </div>
                    </div>
                </li>
                <li class="list">
                    <div class="container">
                        <div id="snap">
                            <div class="img_text">
                                <p>상품명: 1번 상품</p>
                            </div>
                            <div class="img_text">
                                <p>사이즈: S / M / L</p>
                            </div>
                            <div class="img_text">
                                <p>색상: WHITE / BLACK / NAVY</p>
                            </div>
                            <div class="img_text">
                                <p>가격: 23,000원</p>
                            </div>

                            <div class="product_basket_button">
                                <a href="" class="product_basket">
                                    <img src="/img/basket.png" alt="">
                                </a>
                                <a href="#">
                                    <div class="product_button">
                                        <p class="payment">바로구매</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="product_img">
                            <img src="/img/test_img.png" alt="test1">
                        </div>
                    </div>
                </li>
                <li class="list">
                    <div class="container">
                        <div id="snap">
                            <div class="img_text">
                                <p>상품명: 1번 상품</p>
                            </div>
                            <div class="img_text">
                                <p>사이즈: S / M / L</p>
                            </div>
                            <div class="img_text">
                                <p>색상: WHITE / BLACK / NAVY</p>
                            </div>
                            <div class="img_text">
                                <p>가격: 23,000원</p>
                            </div>

                            <div class="product_basket_button">
                                <a href="" class="product_basket">
                                    <img src="/img/basket.png" alt="">
                                </a>
                                <a href="#">
                                    <div class="product_button">
                                        <p class="payment">바로구매</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="product_img">
                            <img src="/img/test_img.png" alt="test1">
                        </div>
                    </div>
                </li>
                <li class="list">
                    <div class="container">
                        <div id="snap">
                            <div class="img_text">
                                <p>상품명: 1번 상품</p>
                            </div>
                            <div class="img_text">
                                <p>사이즈: S / M / L</p>
                            </div>
                            <div class="img_text">
                                <p>색상: WHITE / BLACK / NAVY</p>
                            </div>
                            <div class="img_text">
                                <p>가격: 23,000원</p>
                            </div>

                            <div class="product_basket_button">
                                <a href="" class="product_basket">
                                    <img src="/img/basket.png" alt="">
                                </a>
                                <a href="#">
                                    <div class="product_button">
                                        <p class="payment">바로구매</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="product_img">
                            <img src="/img/test_img.png" alt="test1">
                        </div>
                    </div>
                </li>
                <li class="list">
                    <div class="container">
                        <div id="snap">
                            <div class="img_text">
                                <p>상품명: 1번 상품</p>
                            </div>
                            <div class="img_text">
                                <p>사이즈: S / M / L</p>
                            </div>
                            <div class="img_text">
                                <p>색상: WHITE / BLACK / NAVY</p>
                            </div>
                            <div class="img_text">
                                <p>가격: 23,000원</p>
                            </div>

                            <div class="product_basket_button">
                                <a href="" class="product_basket">
                                    <img src="/img/basket.png" alt="">
                                </a>
                                <a href="#">
                                    <div class="product_button">
                                        <p class="payment">바로구매</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="product_img">
                            <img src="/img/test_img.png" alt="test1">
                        </div>
                    </div>
                </li>
                <li class="list">
                    <div class="container">
                        <div id="snap">
                            <div class="img_text">
                                <p>상품명: 1번 상품</p>
                            </div>
                            <div class="img_text">
                                <p>사이즈: S / M / L</p>
                            </div>
                            <div class="img_text">
                                <p>색상: WHITE / BLACK / NAVY</p>
                            </div>
                            <div class="img_text">
                                <p>가격: 23,000원</p>
                            </div>

                            <div class="product_basket_button">
                                <a href="" class="product_basket">
                                    <img src="/img/basket.png" alt="">
                                </a>
                                <a href="#">
                                    <div class="product_button">
                                        <p class="payment">바로구매</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="product_img">
                            <img src="/img/test_img.png" alt="test1">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
{{>layouts/footer}}