<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/mainpage.css" rel="stylesheet" type="text/css">
    <link href="css/adminProductList.css" rel="stylesheet" type="text/css">
    <link href="css/side.css" rel="stylesheet" type="text/css">
    <title>index</title>
    <script src="js/jquery-3.7.0.min.js"></script>
    <script src="js/adminProductList.js"></script>
</head>

<body>
<section>
    <!--왼쪽사이드-->
    <article class="left_side">
        <div class="logo">
            <img src="images/mainLogo.png" alt="mainLogo">
        </div>
        <!-- 사이드 메뉴 네비 -->
        <nav class="menu">
            <ul class="navi">
                <a href="#">
                    <li><span>상품관리</span>
                    </li>
                </a>

                <a href="">
                    <li><span>주문관리</span>
                    </li>
                </a>

                <a href="#">
                    <li><span>상점관리</span>
                    </li>
                </a>
            </ul>
        </nav>
    </article>
    <!--오른쪽사이드-->
    <article class="right_main_view">
        <!--메인 이미지섹션-->
        <div class="mainImg">
            <div class="productList">
                <h3>Product List</h3>
                <form>
                    <table border="1">
                        <tr>
                            <th name="num">
                                번호
                            </th>
                            <th name="name">
                                상품명
                            </th>
                            <th name="price">
                                가격
                            </th>
                            <th name="img">
                                이미지
                            </th>
                            <th name="txt">
                                상품정보
                            </th>
                            <th name="color">
                                색상
                            </th>
                            <th name="size">
                                사이즈
                            </th>
                        </tr>
                        <tr>
                            <td name="num">
                                1[상품번호]
                            </td>
                            <td name="name">
                                abcde[상품명]
                            </td>
                            <td name="price">
                                10,000원[가격]
                            </td>
                            <td name="img">
                                abced.jpg[이미지]
                            </td>
                            <td name="txt">
                                모든핏에 어울리는 핏[상품정보]
                            </td>
                            <td name="color">
                                갈색[색상]
                            </td>
                            <td name="size">
                                100[사이즈]
                            </td>
                        </tr>
                    </table>
                    <button>
                        <a href="">추가</a>
                    </button>
                </form>
            </div>
        </div>

        <div id="footer">
            <div class="shop_footer">
                <div class="textBox">
                    <h1>
                        Footer 영역
                    </h1>
                </div>
            </div>
        </div>
        <!-- <div class="clear"></div> -->
    </article>
</section>

<script>
    jQuery(document).ready(function () {
        $('.navi>li').mouseover(function () {
            $(this).find('.submenu').stop().slideDown(500);
        }).mouseout(function () {
            $(this).find('.submenu').stop().slideUp(500);
        });
    });
</script>
</body>

</html>