{{>layouts/header}}
<section>
{{>layouts/leftside}}
    <!--오른쪽사이드-->
    <article class="right_main_view">
        <!--메인 이미지섹션-->
        <div class="mainImg">
            <video src="/img/mainVedio.mp4" autoplay loop muted></video>
        </div>
{{>layouts/footer}}